.mi-card {
  width: 18rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #ddd;
  margin-bottom: 150px;
}

.mi-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-color: black;
}

a {
  text-decoration: none;
  color: white;
}
.btn {
  color: white;
  text-decoration: none;
}
