#root {
  max-width: 1280px;
  text-align: center;
}

.App {
  /* background-size: cover; */
  min-height: 100vh;
  width: 99vw;
  /* display: flex;
  flex-direction: column; */

}
 .AppContent {
  text-decoration: none;
  

  
  
  /* background-color: rgba(255, 255, 255, 0.604);
  margin: 0 auto;
  padding-bottom: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  /*add padding arriba
  padding-top: 2rem; */
} 


.main {
      flex-grow: 1; /* Permite que el contenido principal se expanda y empuje el footer */
    }


/*Home*/

    .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 86.5vh;
  width: 100%;
}

.titulo {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem 0;
  color:black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: inline-block;
}
.subtitulo{
 font-size: 1.5rem; 
}

/*Listado*/

.pokemon-card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem;
  
}

.pokemon-card {
  border: 1px solid rgba(0, 0, 0, 0.681);
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  background-color: rgba(0, 0, 0, 0.827);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;
text-decoration: none;  
}

.pokemon-card:hover {
  transform: scale(1.10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card .pokemon-id {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
}
.pokemon-card .pokemon-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
  text-transform: capitalize;
  text-decoration: none;
}
.pokemon-card .pokemon-info {
  margin-top: 8px;
  font-size: 0.9rem;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-cargar-mas {
background-color: rgba(0, 0, 0, 0.827);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;      
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
  color: #dceedd;
  text-decoration: none;
  font-weight: bold;
  /* margin: 0 10px; */
  transition: color 0.3s;
  margin-bottom: 50px;
}

.btn-cargar-mas:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Footer {
    bottom: 0;
    color: white;
    font-size: 25px;
}

.pokemon-detalle {
  max-width: 800px;
  
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9ab;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  
}
.pokemon-detalle:hover {
  transform: scale(1.02 );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-detalle img {
  width: 250px;
  height: 250px;
}

.pokemon-detalle-info {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2.3%;
  background-color: #f9f9f9ab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.pokemon-detalle-info-titulo {
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
  border-right: 1px solid #ccc;
  padding-right: 10px;  
  display: flex;
  align-items: center;
  justify-content: center;  
  /* font size smaller when doesnt fit */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pokemon-detalle-info-titulo .titulo-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);  
}

.pokemon-detalle-info-valor {
  font-size: 1.2rem;
  width: 80%;
  padding-left: 10px;

 }

.pokemon-detalle-info .tagBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
 }

.pokemon-detalle-info-valor .tagTipo {
  display: inline-block;
  background-color: #f9f9f9ab;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.9rem;
 }

.pokemon-detalle-info-valor .listBox {
  display: flex;  
  flex-wrap: wrap;
  border-radius: 4px; 
  max-height: 300px;
  overflow-y: auto;
}

 .pokemon-detalle-info-valor .listBox .listItem {
  flex: 1 1 calc(50% - 10px); /* 2 items por fila */
  padding: 5px 10px;
  font-size: 0.95rem;
  box-sizing: border-box;
  word-break: break-word;
  border-bottom: 1px solid #ccc;
  margin: 2px 0;
  
 }

 .btn-volver {  
 background-color: rgba(0, 0, 0, 0.827);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;      
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
  color: #dceedd;
  text-decoration: none;
  font-weight: bold;
  /* margin: 0 10px; */
  transition: color 0.3s;
  margin-bottom: 50px;
  }

 /* .pokemon-detalle .btn-volver a {
  background-color: rgba(0, 0, 0, 0.827);
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;    
  } */ 

.btn-volver:hover {
 
 transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
